.bigSingleCard {
    width: 100%;
    border-radius: 5px;
    margin-top: 1%;
}

.chatRoomDevider {
    border-left: 3px solid black;
    border-radius: 5px;
}

.chatScrollableFriends {
    height: 700px;
    overflow-y: scroll;
}

.smartphoneChatScrollableFriends {
    height: 200px;
    overflow-y: scroll;
}

.chatBoxScrollable {
    height: 700px;
    overflow-y: scroll;
}

.smartphoneChatBoxScrollable {
    height: 400px;
    overflow-y: scroll;
}

.chatRoomMessageBox {
    border: 1px solid cyan;
}

.messageTime{
    font-size: 12px;
    color: brown;
    text-align: left;
}

.messageDate {
    width: 50%;
    font-size: 14px;
    color:darkviolet;
    text-align: center;
    margin:auto;
    margin-bottom: 3%;
    border-bottom: 1px solid darkviolet;
}