.signInSidebar {
    background-color: white;
    color: black;
    border-radius: 10px;
    float: right;
    margin-top: 3%;
    width: 100%;
}

.signInSidebarTextBox {
    width: 100%;
    background-color: white;
    color: black;
    font-size: 16px;
    text-align: left;
}

.noticeSidebar {
    background-color: white;
    color: black;
    border-radius: 10px;
    float: left;
    margin-top: 3%;
    width: 100%;
}

#btnSideBarSignIn {
    font-size: 16px;
    width: 100%;
    margin: 1%;
}

#btnSideBarPasswordRecovery {
    font-size: 16px;
    width: 100%;
    margin: 1%;
}

.playerInfoSideBar {
    background-color: white;
    color: black;
    border-radius: 10px;
    float: right;
    margin-top: 3%;
    width: 100%;
}

.playerAvatar {
    width: 200px;
    height: 200px;
    border-radius: 50%;
    float: center;
    margin: auto;
}

.badgeFontSize {
    font-size: 16px;
}