.gameTableCells {
    width: 40px;
    height: 40px;
    transform:skew(45deg);
    text-align: center;
    font-size: 25px;
    border-radius: 0;
}

.gameBorderCard {
    background-color: white;
    color: black;
    margin: auto;
    margin-top:1%;
    width: 500px;
    border-radius: 15px;
    padding-top: 2%;
    padding-left: 100px;
}

.tableWholeBlock {
    margin-top: 5%;
    margin-bottom: 5%;

}

.singleCard {
    background-color: white;
    color: black;
    /*max-width: 18rem;*/
    margin: auto; 
    margin-top: 2%;
    
    border-radius: 15px;
    width: 95%;
}