.game-table-cells {
    /* width: 70px;
    height: 42px; */
    transform: skew(45deg);
    text-align: center;
    /* font-size: 25px; */
    border-radius: 0;
    border: 2px solid black;
}

.game-border-card {
    width: 100%;
    margin: auto;
    padding-left: 10%;
}

.game-deck-card {
    background-color: white;
    color: black;
    /*max-width: 18rem;*/
    margin: auto;
    margin-top: 2%;
    border-radius: 5px;
    width: 100%;
}
