.gameTableCells {
    width: 50px;
    height: 40px;
    transform: skew(45deg);
    text-align: center;
    font-size: 25px;
    border-radius: 0;
}

.gameBorderCard {
    width: 100%;
    margin: auto;
    padding-left: 10%;
}

.tableWholeBlock {
    margin-top: 5%;
    margin-bottom: 5%;
}

.roomManagerCard {
    background-color: white;
    color: black;
    /*max-width: 18rem;*/
    margin: auto;
    border-radius: 5px;
    width: 100%;
}

.gameDeckCard {
    background-color: white;
    color: black;
    /*max-width: 18rem;*/
    margin: auto;
    margin-top: 2%;
    border-radius: 5px;
    width: 100%;
}
